
.clickPulse {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        /* Add the width and height of the animation */
        width: 50%;
        /* Adjust as needed */
        height: 50%;
        /* Adjust as needed */

}

